@import url('http://fonts.cdnfonts.com/css/archia');

:root {
    --primary-color: #161625;
    --card-color: #1e1e30;
    --text-color: #a8b4bf;
    --form-color: #1e1e30;

    --primary-color-light: #fff;
    --card-color-light: #fff;
    --text-color-light: #212529;
    --form-color-light: #fff;
}

* {
    font-family: 'Archia', sans-serif;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--primary-color);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding-top: 10px;
    transition: background 0.2s linear;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--card-color);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    transition: background 0.2s linear;
}

.footer{
    background: #1e1e30;
}

.form-select {
    background-color: var(--form-color);
    color: var(--text-color);
    transition: background 0.2s linear;
}

.recovered {
    color: #28a745;
}
.danger{
    color: #ff073a;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}


.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}


body.light {
    padding-top: 10px;
    color: var(--text-color-light);
    background-color: var(--primary-color-light);
}

body.light .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--card-color-light);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

body.light .form-select {
    background-color: var(--form-color-light);
    color: var(--text-color-light);
}
body.light .footer{
    background: #fff;
}